@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-x: 450px;
  --gradient-y: 400px;

  --background: #d5d5d5;
  --background-gradient: radial-gradient(
    600px at var(--gradient-x) var(--gradient-y),
    rgba(104, 140, 240, 0.15),
    transparent 80%
  );
  --foreground: #303030;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161a24;
    --background-gradient: radial-gradient(
      600px at var(--gradient-x) var(--gradient-y),
      rgba(104, 140, 240, 0.15),
      transparent 80%
    );
    --foreground: #ededed;
  }
}

html {
  background: var(--background);
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background-gradient);
  font-family: Inter, sans-serif;

  height: 100%;
  width: 100svw;
  min-height: 100svh;
}
