@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-x: 300px;
  --gradient-y: 150px;

  --background: #d5d5d5;
  --background-gradient: radial-gradient(
    900px at var(--gradient-x) var(--gradient-y),
    rgba(70, 85, 131, 0.15),
    transparent 80%
  );
  --foreground: #05153c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f;
    --background-gradient: radial-gradient(
      900px at var(--gradient-x) var(--gradient-y),
      rgba(58, 58, 59, 0.4),
      transparent 80%
    );
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  background: var(--background);
}

body {
  color: var(--foreground);
  background: var(--background-gradient);
  font-family: Inter, sans-serif;
  min-height: 100svh;
}
